{
  "env": {
    "development": {
      "sourceMaps": true,
      "retainLines": true
    }
  },
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
